/* font link  */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* font styles  */
.font-noto {
    font-family: "Noto Serif", serif;
    font-weight: 700;
}

body {
    font-family: "Inter", sans-serif;
}

/* shared styles  */
.middle-center {
    max-width: 1200px;
    margin: 40px auto;
}

.primary-color {
    color: #e95a08;
}

p {
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.25rem;
    margin: 16px 0;
}

.primary-heading {
    font-size: 3rem;
    font-weight: 700;
    font-family: "Noto Serif", serif;
}

.primary-btn {
    background-color: #e95a08;
    padding: 15px 10px;
    width: 100%;
    border: none;
    margin-top: 20px;
    color: #fff;
    font-size: 600;
    font-size: 16px;
    cursor: pointer;
}

/* navbar styles  */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-menu {
    display: flex;
    list-style: none;
    gap: 25px;
}

.navbar-menu a {
    text-decoration: none;
    color: #000;
}

.navbar-menu li:nth-child(2) a,
.navbar-menu li:nth-child(3) a {
    color: #8987A1;
}

/* banner styles  */
.banner {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-top: 60px;
}

.banner img {
    width: 100%;
}

.banner-container h1 {
    font-size: 4rem;
}

/* Our plants styles  */
.plants-container {
    padding: 0 15px;
}

.plants-texts {
    text-align: center;
    max-width: 890px;
    margin: 0 auto;
}

.plants-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px 20px;
}

.plants-card {
    text-align: center;
    max-width: 270px;
}

.plants-card img {
    width: 100%;
}

.plants-card h5,
h6 {
    font-size: 22px;
    font-weight: 500;
    margin-top: 15px;
}

.plants-card h6 {
    font-size: 22px;
    font-weight: 700;
}

/* plants lover styles  */
.lover-container {
    display: flex;
    gap: 80px;
    margin-top: 150px;
}

.lover-badge img {
    width: 285px;
}

.lover-images {
    position: relative;
}

.lover-badge {
    position: absolute;
    right: -110px;
    top: -120px;
}

.lover-content {
    margin-top: 80px;
}

.lover-content ul {
    line-height: 30px;
    padding-left: 20px;
}

.lover-content h3 {
    margin-bottom: 25px;
}

/* deals styles  */
.deals {
    text-align: center;
}

.deals p {
    padding: 0 120px;
}

.deals-container {
    display: flex;
    gap: 30px;
}

.deals-left-image {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.deals-left-image1 p,
.deals-left-image2 p {
    color: #fff;
    font-size: 1rem;
    text-decoration: underline;
}

.deals-right-image p {
    color: #fff;
    font-size: 1.75rem;
    text-decoration: underline;
}

.deals-right-image h5 {
    color: #fff;
    font-size: 2.5rem;
}

.deals-left-image1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(./assets/deal-ana.png);
    width: 367px;
    height: 201px;
    color: #fff;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.deals-left-image2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(./assets/deal-bloom.png);
    width: 367px;
    height: 201px;
    color: #fff;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.deals-right-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(./assets/deal-zabo.png);
    width: 753px;
    height: 423px;
    color: #fff;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

/* join styles  */
.join {
    position: relative;
}

.join img {
    width: 100%;
}

.join-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.join-container h3 {
    font-size: 3rem;
    color: #fff;
}

.join-input {
    display: flex;
    width: 830px;
}

.join-input input {
    flex: 1;
    width: 100%;
    border: none;
    padding: 15px 30px;
    margin-top: 20px;
}

.primary-btn-2 {
    background-color: #e95a08;
    padding: 15px 20px;
    border: none;
    margin-top: 20px;
    color: #fff;
    font-size: 600;
    font-size: 16px;
    cursor: pointer;
}

/* footer styles  */
.footer-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 110px;
}

.footer-middle {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.footer-middle a {
    text-decoration: none;
    color: #000;
}

.footer-right img {
    margin-right: 20px;
}

/* responsive for mobile  */
@media screen and (max-width:576px) {

    /* shared styles  */
    p {
        font-size: 1rem;
    }

    /* navbar styles  */
    .navbar-menu li:nth-child(1),
    .navbar-menu li:nth-child(2),
    .navbar-menu li:nth-child(3),
    .lover-badge {
        display: none;
    }

        {
        position: absolute;
        right: -110px;
        top: -120px;
    }

    .navbar {
        margin: 0 20px;
    }

    /* banner styles  */
    .banner {
        flex-direction: column-reverse;
    }

    .banner-container {
        margin: 0 15px;
    }

    .banner-container h1,
    .plants-texts,
    .lover-content h3 {
        font-size: 2rem;
        margin-top: 20px;
    }

    /* Our plants styles  */
    .plants-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px 20px;
    }

    /* plants lover styles  */
    .lover-container {
        flex-direction: column;
        margin-top: 60px;
        padding: 15px;
    }

    .lover-images img {
        width: 100%;
    }

    .lover-content {
        margin-top: -80px;
    }

    /* deals style  */
    .deals-container {
        flex-direction: column;
        align-items: center;
    }

    .deals p {
        padding: 0 20px;
        margin-bottom: 30px;
    }

    .deals-right-image {
        width: 367px;
        height: 201px;
    }

    .deals-right-image p {
        font-size: 1rem;
    }

    .deals-right-image h5 {
        font-size: 1.25rem;
    }

    /* join style  */
    .join-container h3 {
        font-size: 1.25rem;
        color: #fff;
    }

    .join-input {
        width: 321px;
    }

    .join img {
        height: 270px;
    }

    /* footer styles  */
    .footer-container {
        grid-template-columns: 1fr;
        text-align: center;
        gap: 50px;
        padding: 0 30px;
    }

    .footer-middle {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }

    .footer-right {
        text-align: center;
    }
}